

fieldset {
    margin:5px;
}

input {
    
}

button {
 margin:5px;
}

.footnote {
    font-size:0.7em;
}

textarea#related_tags_edit {
    width:330px;
}

#container {
    width: 1400px;
    height: 600px;
    margin:0 auto;
    position:relative;
}

#left-container, 
#right-container, 
#center-container {
    height:600px;
    position:absolute;
    top:0;
}

#left-container, #right-container {
    width:400px;
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;
    border-bottom:1px solid #ddd;
}

#left-container {
    left:0;
    background-image:url('col2.png');
    background-position:center right;
    border-left:1px solid #ddd;
    
}

#right-container {
    right:0;
    background-image:url('col1.png');
    background-position:center left;
    border-right:1px solid #ddd;
}

#right-container h4{
    text-indent:8px;
}

#center-container {
    width:600px;
    left:400px;
    background-color:#1a1a1a;
    color:#ccc;
}

#testarea {
    border-style:solid
}

#edit-node-form, #create-node-form {
    margin:5px;
    padding:5px;
    border-style:solid;
    /*display:none;*/
}

#att_button_area, #link_button_area {
    margin:5px;
    padding:5px;
    border-color:gray;
    border-width:1px;
    border-style:solid;
}

#node_id_edit_label {
    background-color:yellow;
}

#attachment_list {
    margin:5px;
    background-color:#DDDDDD;
}

/* Dynamically Appearing Elements */
.attachment_item {
}
