<div id="link_to_dropbox">
  <span class='welcome-summary'>Click on the link below to add the directories to your dropbox account</span>
  <p> <%= link_to "Associate with my Dropbox Account", '/' %> </p>
  <p class='welcome-text'>
    The joha directory will be put inside your dropbox file with the same name as the joha name (which is the root node name)
  </p>
  <p class='welcome-text'>
    Note that this link passes you off to the Dropbox site and Dropbox handles everything else, so this site cannot access or interact
    with any of your Dropbox credentials or content in other directories of your Dropbox folder.
  </p>
</div>