<h1>Welcome!!</h1>
<% form_tag( '/bufs_info_doc/log_in', :multipart => true )  do %>


      <%= hidden_field_tag :db_name, @db_default %>

  </p>
      <b>Please enter your unique joha name to get started</b><br/>
      <small>No special characters (e.g., "@")</small><br/>
      <small>so if you want to use your email address,</small><br/>
      <small>leave out the @ or replace it with a space.</small><br/><br/>
      
      <%= text_field_tag :user_id, @user_id_default %>
      
      <br/> Or if you'd like use the example name '<%= @user_id_default %>' to play around first <br/>
      <small>Note: The example data is periodically overwritten</small><br/>
  </p>
  
  <b>  Keep in mind the site is NOT!! production ready yet. The basic functionality is there, but </b> <br/>
  <b>  some aspects of the User Interface are severely lacking at the moment. </b> <br/>

  <p>
      <%= submit_tag "Submit" %>
  </p>
<% end %>
