    <div id='user_log_in' class='log_in'>  
      <div id='user_log_in_form' class='log_in_form'>
        <h1>Welcome!!</h1>

        <% form_tag( '/bufs_info_doc/log_in', :multipart => true )  do %>
          <%= hidden_field_tag :db_name, @db_default %>
            <span class='welcome-summary'>Please enter a unique joha name to get started</span>
            <p class='welcome-text'>
              It shouldn't contain any special characters (e.g., "@") so if you were thinking of using an email address be sure to
              leave out the @ or replace it with a space or underscore.
            </p>
              
              <%= text_field_tag :user_id, @user_id_default, :class=>'user_input'%><br/>
              
              <span class='welcome-summary'>Or if you'd rather not start from scratch feel free to use the name
              '<%= @user_id_default %>' to play around with things.</span>
              <p class='welcome-text'>
                Note: The example data is periodically overwritten
  
          <p class='warning-text'>
            Keep in mind the site is NOT!! production ready yet. The basic functionality is there, but
            some aspects of the User Interface are severely lacking at the moment.
          </p>

              <%= submit_tag "Submit" %>

        <% end %>
      </div>
    </div>
