
fieldset {
    margin:5px;
}

input {
  margin:2px;    
}

button {
 margin:5px;
}

.footnote {
    font-size:0.7em;
}

textarea#related_tags_edit {
    width:330px;
}

#infovis-bkcanvas {
  background-color: #303045;
}

#container {
    width: 1400px;
    height: 700px;
    margin:0 auto;
    position:relative;
}

#left-container, 
#right-container, 
#center-container {
    width: 500px;
    height:700px;
    position:absolute;
    top:0;
}

#left-container,#right-container {
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;
    border-bottom:1px solid #ddd;
}

#left-container {
    width:300px;
    left:0;
    background-position:center right;
    border-left:1px solid #ddd;
    
}

#right-container {
    width:400px;
    right:0;
    /*background-image:url('col1.png');*/
    background-position:center left;
    border-right:1px solid #ddd;
}

#right-container h4{
    text-indent:8px;
}

#center-container {
    width:700px;
    left:300px;
    background-color:#1a1a1a;
    color:#ccc;
}

#infovis {
    position:relative;
    width:700px;
    height:700px;
    margin:auto;
    overflow:hidden;
}


#edit-node-form, #create-node-form {
    margin:5px;
    padding:5px;
    border-top-style:solid;
    background-color:#F5F5F5;
    /*display:none;*/
}

#att_button_area, #link_button_area {
    margin:5px;
    padding:5px;
    border-color:gray;
    border-width:1px;
    border-style:solid;
}

#node_id_edit_label {
    background-color:#CFCFFF;
    padding:2px;
    font-weight:bold;
    border-width:1px;
    border-bottom-style:solid;
    border-right-style:solid;
    
}

#attachment-form {
    background-color:#DDDDFF;
    font-weight:bold;
    border-top-style:solid;
    border-bottom-style:solid;
    border-width:1px;
}

.element-list {
    margin:2px 2px 2px 10px;
    font-weight:normal;
}

#link-form {
    background-color:#AAAACC;
    font-weight:bold;
    border-top-style:solid;
    border-bottom-style:solid;
    border-width:1px;
}

/* Dynamically Appearing Elements */
/* .element-list */